/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(254, 254, 254);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("Fondos.jpg");
   

}
.img1{

height: 500px;
width: 1438px;
background-image : url("imgtecno.jpg");
float: left;



}
.img2{
height: 1300px;
width: 1900px;
background-image: url("mapa\ mental.jpg");
float: left;
}

.img3{
    height: 600px;
    width : 230px;
    background-image: url("fotoingles1.jpg");

    }


.img4{

height: 730px;
width: 230px ;
background-image:url( "fotoingles2.jpg");


}


.img5{

height:170px ;
width: 230px ;
background-image:url("fotoingles3.jpg") ;

}

.img6{

height: 200px ;
width: 230px ;
background-image: url("fotoingles4.jpg");

}


.img7{

height: 420px;
width: 230px ;
background-image: url("fotoingles5.jpg");

}

.img8{

height: 360px;
width: 230px;
background-image: url("fotoingles6.jpg");

}

.img9{

height: 420px;
width: 230px;
background-image: url("fotoingles7.jpg");

}

.img10{

height: 250px;
width: 230px;
background-image: url("fotoingles8.jpg");

}

.img11{

height: 380px;
width: 230px;
background-image: url("fotoingles9.jpg");

}

.imgexcel{

height: 500px;
width: 750px;
background-image: url(imgexcel.jpg);
}

.imgexcel2{

height: 15
0px;
width: 500px;
background-image: url(images.png);
}

.imagen13{

    height: 350px;
width: 450px;
background-image: url(inglesp3-1.jpg);
}

.imagen14{

height: 450px;
width: 1100px;
background-image:url(inglesp3-2.jpg) ;
}

.imagen15{

height: 500px;
width: 1100px;
background-image:url(inglesp3-3.jpg);
}

.imagen16{

height: 500px;
width: 1000px;
background-image: url(inglesp3-4.jpg);
}

.imagen17{

height: 800px;
width: 1200px;
background-image: url(inglesp3-5.jpg);
}

.imagen18{

height: 500px;
width: 700px;
background-image: url(inglesp3-6.jpg);
}

.imagen19{

height: 300px;
width: 400px;
 background-image: url(imgcont.jpg);
}

.imagen20{

height: 600px;
width: 800px;
background-image: url(imgcont2.jpg);

}


